.nav-link.active {
    border: 2px solid #0d6efd;
    color: #0d6efd !important;
    border-radius: 8px;
    font-weight: 600;
    padding: 5px 12px;
    transition: all 0.2s ease;
  }
  .nav-link:hover {
    border: 2px solid #0d6efd;
    border-radius: 8px;
    color: #0d6efd !important;
    background-color: rgba(13, 110, 253, 0.1);
    transition: all 0.2s ease;
  }

  .custom-btn {
    background: #b5651d; 
    color: white;
    font-size: 18px;
    font-weight: 500;
    border: 2px solid white;
    border-radius: 6px;
    padding: 10px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .custom-btn:hover {
    background: #d67d27; 
    transform: scale(1.05);
  }
  
  .main-text {
    font-size: 1.3rem;
    font-weight: bold;
  }
  
  .sub-text {
    font-size: 1rem;
    color: #ddd;
  }
  .containertext {
    text-align: center;
    background-color: #b5651d;
  }

  .card-step {
    background-color: #141414;
    color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
  }
  
  .circle {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 0 auto 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    color: white;
    background: conic-gradient(#f28c28 0deg, #f28c28 0deg, #fff 0deg);
  }
  
  .card-step:nth-child(1) .circle {
    background: conic-gradient(#f28c28 0deg 100deg, #fff 100deg 360deg);
  }
  
  .card-step:nth-child(2) .circle {
    background: conic-gradient(#f28c28 0deg 155deg, #fff 155deg 360deg);
  }
  
  .card-step:nth-child(3) .circle {
    background: conic-gradient(#f28c28 0deg 180deg, #fff 180deg 360deg);
  }
  
  .card-step:nth-child(4) .circle {
    background: conic-gradient(#f28c28 0deg 240deg, #fff 240deg 360deg);
  }
  
  .card-step:nth-child(5) .circle {
    background: conic-gradient(#f28c28 0deg 400deg, #fff 400deg 360deg);
  }
  
  .circle::before {
    content: "";
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #1a1a1a;
    z-index: 1;
  }
  .circle i {
    position: relative;
    z-index: 2;
  }

  .h3 {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background: linear-gradient(to right, #0f0f0f, #1a1a1a, #0f0f0f);
    color: #d67d27;
    font-weight: bold;
  }
  .h3text {
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    color: #f28c28;
    font-weight: bold;
  }
  .ayuda-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1b1b1b;
    color: #fff;
    padding: 0 80px;
    margin-top: 50px;
    margin-bottom: 50px; 
  }
  
  .ayuda-title {
    padding-top: 20px;
    color: #f28c28;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .ayuda-text {
    max-width: 1000px;
    text-align: left;
    line-height: 1.6;
  }
  .p-text {
    text-align: center;
    color: white;
    padding: 10px;
  }
  
  .h1-title {
    text-align: center;
    color: #f28c28;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .p-text {
    text-align: left;
    color: white;
    padding: 10px;
  }
  .detalle summary {
    color: white;            
    padding: 10px 20px;       
    border-radius: 8px;       
    background-color: green;  
    list-style: none;         
    display: inline-block; 
  }


  
  

